/* BEM */
.login-box {
  width: 500px;
  margin: 0 auto;
}

.login-input {
  padding: 10px;
  height: 40px;
  display: block;
  width: 250px;
  margin-top: 10px;
  box-sizing: border-box;
}

.login-button {
  box-sizing: border-box;
  padding: 10px;
  height: 40px;
  display: block;
  width: 250px;
  margin-top: 10px;
}
