.search-bar {
  background: rgb(231, 105, 105);
  color: #fff;
  width: 100%;
  padding: 20px;
}
.search-bar .title {
  font-size: 40px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.search-bar .input-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-bar .input-box > input {
  flex: 1;
  outline: none;
  border: none;
  height: 40px;
  padding: 0px 10px;
  font-size: 18px;
}

.search-bar .input-box > button {
  outline: none;
  border: none;
  height: 40px;
  padding: 0px 20px;
  font-size: 16px;
  font-weight: 700;
}
